body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}




img.rating {
	width: 100px;
}
img.productImage{
	width: 100%;
	}
tr.greyed {
	background-color: #d9d9d9;
}
tr.greyed >th {
	background: white;
}
#productTable {
	-webkit-column-width: 300px;
}

.productTiles {
	display: inline-grid;
	max-width: 31%;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: 4fr 1fr 1 fr 1fr 1fr;
	
	border-radius:10%;
	margin:.5em;
}

.productImage {
	grid-column: 1/4;
	grid-row:1/2;
	border-radius:10% 10% 0% 0%;
}

.productName {
	grid-column: 1/4;
	grid-row: 2/3;
	text-align: center;
}

.weight {
	grid-column: 1/4;
	grid-row: 4/5;
	text-align: center;
	
}
.mfg {
	grid-column: 1/4;
	grid-row: 3/4;
	text-align: center;
}

.stars {
	grid-column: 1/4;
	grid-row: 5/6;
	width:5em;
	text-align: center;
}
.price {
	color: red;
	text-align: center;
}