body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}
img.rating {
	width: 100px;
}
img.productImage{
	width: 100%;
	}
tr.greyed {
	background-color: #d9d9d9;
}
tr.greyed >th {
	background: white;
}
#productTable {
	-webkit-column-width: 300px;
}

.productTiles {
	display: inline-grid;
	max-width: 30%;
	
	grid-template-rows: 50% 10% 10% 10% 10% 10%;
	border-radius:10%;
	margin:.5em;
}

.productImage {

	grid-row:1/2;
	border-radius:10% 10% 0% 0%;
}

.productName {
	
	grid-row: 2/3;
	text-align: center;
	font-size:14pt;
		margin: auto;
}
.mfg {
	
	grid-row: 3/4;
	text-align: center;
	font-size:14pt;
		margin:auto;
		
}
.priceTile {
	color: red;
	text-align: center;
	grid-row: 4/5;
	font-size:8pt;
		margin:auto;
}
.weight {
	grid-row: 5/6;
	text-align: center;
	font-size:12pt;
		margin:auto;
}
.stars {
	grid-row: 6/7;
	margin:auto;
	width:40%;
	text-align: center;			
}
.price {
	color: red;
	text-align: center;
}
#productList {
	display: grid;
	max-width: 80%;
	grid-template-columns: 40% 60%;
	grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
	border-radius:10%;
	margin:.5em;
}

img.listImage{
	grid-area: 1/1/7/2;
	justify-self:start;
	width:250px;
}
.listName{
	grid-column:2/5;
	grid-row:1/2;
	font-size:10pt;
		
		text-align: left;
}
.mfgList{
	grid-column:2/5;
	grid-row:2/3;
	font-size:10t;
		
		text-align: left;
}
.priceList{
	grid-column:2/5;
	grid-row:3/4;
	font-size:10pt;
		
		color: red;
	text-align: left;
}
.weightList{
	grid-column:2/5;
	grid-row:4/5;
	text-align: left;
	font-size:8pt;
		
}
.starsList{
	grid-column:2/5;
	grid-row:5/6;
	text-align: left;
	width: 30%;
		
}

.productDetail{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	border-radius:10%;
	margin:.5em;
	justify-items:start;
}
img.detailImage{
	grid-area: 1/1/7/2;
	justify-self:start;
	width:auto;
}
.detailName{
	grid-column:2/5;
	grid-row:1/2;
	font-size:16pt;
		
		text-align: start;
}
.mfgDetail{
	grid-column:2/5;
	grid-row:2/3;
	font-size:16t;
		
		text-align: start;
}
.priceDetail{
	grid-column:2/5;
	grid-row:3/4;
	font-size:16pt;
		
		color: red;
	text-align: start;
}
.weightDetail{
	grid-column:2/5;
	grid-row:4/5;
	text-align: start;
	font-size:12pt;
	
}
.starsDetail{
	grid-column:2/5;
	grid-row:5/6;
	text-align: start;
	width: 25%;
		
}